:root {
  --navbar-color: #C4C4C4;
  --sidebar-color: #CA5310;
  --product-bg-color: #EAEAEA;
  --product-secondary-color: #000000;
  --sidebar-font-secondary-color: #ffffff;
}

body {
  font-family: Lato;
  margin: 0;
  padding: 0;
}

header {
  background: var(--navbar-color) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 53px;
}

nav {
  display: flex;
  margin-left: 100px;
}

nav img {
  height: 30px;
  width: 150px;
  margin: 0.8rem;
}

nav ol {
  margin-left: 80px;
  padding: 0;
  list-style: none;
}

nav ol li {
  display: inline-block;
  margin-left: 20px;
}

.main-container {
  display: flex;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-right: 50px;
  width: 100%;
  height: auto;
}

.product {
  display: flex;
  flex-direction: column;
  background: var(--product-bg-color) 0% 0% no-repeat;
  border: 1px solid var(--product-secondary-color);
  width: 200px;
  height: 300px;
  margin-top: 10px;
  padding: 10px 13px;
  font: normal normal normal 15px/15px Lato;
}

.product img {
  height: 190px;
  margin-bottom: 5px;
}

.product p {
  margin: 5px;
  text-align: flex-start;
}

.product button {
  margin-top: 10px;
  padding: 5px;
  font-size: 12px;
}

button {
  background-color: var(--navbar-color);
  border: none;
  font-size: 1.2rem;
  font-family: Lato;
  opacity: 1;
}

button:hover {
  cursor: pointer;
}

#sidebar {
  background-color: var(--sidebar-color);
  width: 270px;
  height: 655px;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 39px;
  text-align: center;
  font-size: 1.5rem;
}

label, #hamburger {
  display: none;
}

@media screen and (max-width: 1920px) {
  .product-container {
    width: 53%;
  }

  .product {
    width: 200px;
  }
}

@media screen and (max-width: 1440px) {
  .product-container {
    width: 80%;
  }
}

@media screen and (max-width: 1366px) {
  .product-container {
    margin-right: 20px;
    width: 100%;
  }

  .product {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .product-container {
    width: 120%;
    margin-right: 0px;
  }

  .product {
    width: 150px;
  }

  nav ol {
    margin-left: 25px;
  }
}

@media screen and (max-width: 768px) {
  .product-container {
    margin-right: 0px;
  }

  .product {
    margin-top: 10px;
    width: 140px;
  }

  #sidebar {
    display: none;
  }

  nav {
    margin: 0 50px;
  }

  nav ol {
    margin-left: 0px;
  }
}

@media screen and (max-width: 540px) {
  nav ol {
    display: none;
  }

  nav img {
    position: absolute;
    left: 150px;
  }

  .product-container {
    margin-right: 0px;
  }

  .product {
    margin-top: 10px;
    width: 170px;
  }
}

@media screen and (max-width: 480px) {
  nav img {
    position: absolute;
    left: 130px;
  }
}

@media screen and (max-width: 460px) {
  .product {
    width: 150px;
  }
}

@media screen and (max-width: 375px) {
  nav img {
    position: absolute;
    left: 100px;
  }
}

@media screen and (max-width: 360px) {
  nav img {
    position: absolute;
    left: 80px;
  }

  .product-container {
    margin-bottom: 25px;
    margin-right: 0px;
  }

  .product {
    margin-top: 10px;
    width: 135px;
    height: 300px;
  }

  .product p {
    margin: 5px;
  }
}

@media screen and (max-width: 280px) {
  .product p {
    margin: 5px;
  }
}
