.product-container {
  display: flex;
  margin-top: 50px;
  flex-flow: row wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

header {
  display: flex;
  align-items: flex-start;
  background: #C4C4C4 0% 0% no-repeat padding-box;
  width: 100%;
  opacity: 0.7;
}

nav ol {
  display: flex;
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: #C4C4C4;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

#sidebar {
  background-color: #C4C4C4;
  width: 200px;
  height: 619px;
  text-align: center;
}

#btn-3:hover+#sidebar {
  background-color: #000;
}
